<html>
    <head>
        <title>Chandigarh University Management System</title>
        <style>
            body{
                color:rgb(255, 213, 0);
                background-color:white;
                font-size: 20px;
            }
        </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" >
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 border-bottom">
            <div class="container-fluid">
              <a class="navbar-brand fs-2" href="#">
                <img src="https://uims.cuchd.in/uims/assets/uploads/login-logo-main.png" alt="" width="120" height="60" ><span class="text-danger"></span><span class ="text-danger"></span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button><br><br>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5 text-center">
                  <li class="nav-item">
    
                    <a class="nav-link active text- primary" aria-current="page" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
                  
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
                </ul> 
              </div>
            </div>
          </nav>
        <center><h2>Wrong Username or Password Entered. </h2>
        <p>
            <span>click <a href="/login"><b>here </b></a>to LogIn again </span>
        </p>
        </center>
    </body>
</html>